.dashboard {
    position: absolute;
    left: 15vw;
    width: 83%;
    height: 95vh;
    top: 2vh;
}

.bigWrapper {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    border-radius: 5px 5px;
    background: url('https://images.squarespace-cdn.com/content/v1/5333657ae4b09fffc70c62eb/1419873827711-6AC9UN0MDUWDD8TOQQPX/image-asset.jpeg?format=1000w');
    background-size: cover;
    background-repeat: no-repeat;
    overflow: hidden;
    .dashboardHeading {
        height: 20%;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        background: rgba(144, 238, 144, 0.75);
        color: white;
        .headings {
            width: 93%;
            display: flex;
            align-items: center;
            justify-content: space-between;
        }
        h1 {
            text-align: center;
            text-shadow: 0px 2px 1px rgba(0,0,0,0.4),
               0px 4px 8px rgba(0,0,0,0.1),
               0px 8px 15px rgba(0,0,0,0.1);
        }
    }
    .dashboardMainContent {
        display: flex;
        align-items: center;
        justify-content: space-evenly;
        height: 75%;
        width: 100%;
        .dashboardBoxOne {
            display: flex;
            align-items: center;
            justify-content: center;
            text-align: center;
            .dashboardBoxTop {
                height: 85%;
                width: 84%;
                display: flex;
                align-items: flex-start;
                justify-content: center;
                color: white;
                font-size: 1.2em;
                font-weight: 600;
                text-align: center;
                overflow: scroll;
            }
        }
        .dashboardBoxTwo {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: space-evenly;
            .userImage {
                height: 40%;
                width: 50%;
                overflow: hidden;
                display: flex;
                align-items: center;
                justify-content: center;
                img {
                    height: 100%;
                    width: auto;
                    overflow: hidden;
                    filter:invert(1);
                }
            }
            .usernamePassword {
                width: 60%;
                height: 30%;
                display: flex;
                align-items: center;
                justify-content: space-evenly;
                flex-direction: column;
                input {
                    width: 90%;
                    height: 36%;
                    background: rgba(0,0,0,0.6);
                    border: none;
                    text-align: center;
                }
            }
            .loginOrSignUp {
                width: 60%;
                height: 20%;
                display: flex;
                align-items: center;
                justify-content: space-around;
                button {
                    width: 45%;
                    height: 69%;
                    background: lightgreen;
                    border: none;
                    font-weight: 700;
                    border-radius: 5px 5px;
                    transition: transform 0.3s;
                }
                button:hover {
                    transform: scale(1.1);
                    cursor: pointer;
                }
            }
        }
        .dashboardBox {
            height: 60%;
            width: 39%;
            background: rgba(0,0,0,0.6);
            border-radius: 5px 5px;
        }
    }
}

@media only screen and (max-device-width : 1024px) {
    .dashboard {
        left: 24vw;
        width: 75vw;
    }
    .dashboardMainContent {
        flex-direction: column;
        justify-content: space-around;
        .dashboardBox {
            max-height: 45%;
            min-width: 70%;
            .dashboardBoxTop {
                font-size: 2vw !important;
                align-items: center !important;
            }
        }
    }
}

@media only screen and (max-width: 768px) {
    .dashboard {
        top: 12vh;
        left: 2vw;
        width: 95vw;
        .dashboardMainContent {
            flex-direction: column;
            justify-content: space-around;
            .dashboardBox {
                max-height: 45%;
                min-width: 70%;
                .dashboardBoxTop {
                    font-size: 2.7vw !important;
                }
            }
            .dashboardBoxOne {
                padding-top: 2%;
                overflow: scroll;
            }
        }
    }
}

@media only screen and (max-width: 630px) {
    .dashboardBoxOne {
        align-items: center !important;
        .dashboardBoxTop {
            font-size: 3.3vw !important;
        }
    }
}





