.improve {
    position: absolute;
    left: 15vw;
    min-width: 83%;
    max-width: 83%;
    height: 95vh;
    top: 2vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.improvementContentLeft {
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    .playerTab {
        height: 20%;
    }
    .writtenImprovementTips {
        overflow: scroll;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        height: 75%;
        width: 100%;
        .writtenImprovementBoxWrapper {
            height: 50%;
            background: white;
            width: 100%;
            display: flex;
            align-items: center;
            justify-content: center;
            .writtenImprovementBox {
                background: rgb(236, 235, 235);
                border-radius: 5px 5px;
                display: flex;
                flex-direction: column;
                width: 100%;
                height: 90%;
                box-shadow: 0 2px 4px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);

            }
            .writtenImprovementHeading, .writtenImprovementDescription, .writtenImprovementDataReference {
                width: 100%;
                display: flex;
                align-items: center;
            }
            .writtenImprovementHeading {
                height: 20%;
                justify-content: flex-start;
                padding-left: 5%;
                border-bottom: solid white 3px;
                background: lightblue;

            }
            .writtenImprovementDescription {
                height: 60%;
                padding-left: 5%;
                justify-content: flex-start;
                p {
                    max-width: 90%;
                    max-height: 80%;
                    font-weight: 400;
                    overflow-y: auto;
                }
                p::-webkit-scrollbar {
                    -webkit-appearance: none;
                }
                
                p::-webkit-scrollbar:vertical {
                    width: 11px;
                }
                
                p::-webkit-scrollbar:horizontal {
                    height: 11px;
                }
                
                p::-webkit-scrollbar-thumb {
                    border-radius: 8px;
                    border: 2px solid white; /* should match background, can't be transparent */
                    background-color: rgba(0, 0, 0, .5);
                }
            }
            .writtenImprovementDataReference {
                height: 20%;
                width: 100%;
                justify-content: center;
                border-top: solid white 3px;
                transition: transform 0.3s;
            }
            .writtenImprovementDataReference:hover {
                transform: scale(1.1);
                cursor: pointer;
            }
        }
    }
}

@keyframes pulse {
    0% {transform: scale(1)}
    100% {transform: scale(1.1)}
}
.improvementContentRight {
    width: 30%;
    height: 100%;
    // border: solid green 1px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    .pointToResources {
        height: 27%;
        width: 100%;
        background: lightgreen;
        border-radius: 5px 5px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        box-shadow: 0 2px 4px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
        .pointToResourceDescription {
            height: 70%;
            width: 100%;
            display: flex;
            align-items: center;
            justify-content: center;
            text-align: center;
            .resourceParagraph {
                font-weight: 400;
                max-width: 90%;
            }
        }
        .pointToResourceArrow {
            height: 15%;
            width: 100%;
            overflow: hidden;
            display: flex;
            align-items: center;
            justify-content: center;
            animation-name: pulse;
            animation-duration: 1s;
            animation-iteration-count: infinite;
        }
    }
}

.resourceVideosAndArticlesWrapper {
    height: 69%;
    width: 100%;
    display: flex;
    flex-direction: column;
    // justify-content: space-between;
    // border: solid black 1px;
    overflow-y: auto;
    overflow-x: hidden;

}

.resourceVideosAndArticlesWrapper::-webkit-scrollbar {
    -webkit-appearance: none;
}

.resourceVideosAndArticlesWrapper::-webkit-scrollbar:vertical {
    width: 11px;
}

.resourceVideosAndArticlesWrapper::-webkit-scrollbar:horizontal {
    height: 11px;
}

.resourceVideosAndArticlesWrapper::-webkit-scrollbar-thumb {
    border-radius: 8px;
    border: 2px solid white; /* should match background, can't be transparent */
    background-color: rgba(0, 0, 0, .5);
}

.resourceVideoWrapper {
    min-height: 30vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background: white;
}

.resourceVideo {
    background: rgb(236, 235, 235);
    height: 27vh;
    width: 98%;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 5px 5px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
    .resourceVideoContent {
        display: flex;
        flex-direction: column;
        height: 80%;
        width: 80%;
        .videoThumbnail {
            height: 60%;
            width: 100%;
            background: url('https://i.ytimg.com/an_webp/X2OZu5mFz-s/mqdefault_6s.webp?du=3000&sqp=CK_w0Y4G&rs=AOn4CLAoMQBPY2KtkqL5PGqcVmuDw4S3cg');
            background-position: center;
        }
        .videoTitleAndDescription {
            height: 40%;
            display: flex;
            flex-direction: column;
            justify-content: flex-start;
            background: white;
            overflow: hidden;
            .videoTitle {
                max-height: 50%;
                font-weight: 600;
                overflow: hidden;
                display: flex;
                align-items: flex-start;
                justify-content: flex-start;
                width: 95%;
                span {
                    width: 100%;
                    white-space: nowrap;
                    overflow: hidden;
                    text-overflow: ellipsis;
                }
            }
            .videoDescription {
                height: 50%;
                display: flex;
                align-items: flex-start;
                font-weight: 400;
                span {
                    white-space: nowrap;
                    overflow: hidden;
                    text-overflow: ellipsis;
                }
            }
        }
    }
}

.resourceVideoContent:hover, .resourceArticle:hover {
    transform: scale(1.1);
    cursor: pointer;
}

.resourceVideoContent:hover, .resourceArticle {
    transition: transform 0.3s;
}
.resourceArticleWrapper {
    min-height: 30vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background: white;
}

.resourceArticle {
    height: 27vh;
    width: 98%;
    display: flex;
    box-shadow: 0 2px 4px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
    overflow: hidden;
    border-radius: 5px 5px;
    .articleImage {
        height: 100%;
        width: 50%;
        background-position: center !important;
        background-size: cover !important;
    }
    .articleTitleAndDescription {
        display: flex;
        flex-direction: column;
        height: 100%;
        width: 50%;
        background: rgb(252, 252, 252);
        justify-content: space-between;
        .articleTitle, .articleDescription {
            display: flex;
            overflow: hidden;
            padding-left: 5%;
        }
        .articleTitle {
            height: 20%;
            align-items: flex-start;
            justify-content: flex-start;
            width: 87%;
            font-size: 0.8em;
            h2 {
                white-space: nowrap;
                overflow: hidden;
                text-overflow: ellipsis;
            }
        }
        .articleDescription {
            height: 80%;
            width: 87%;
            align-items: flex-start;
            justify-content: flex-start;
            p {
                max-width: 93%;
                max-height: 70%;
                overflow-y: scroll;
            }
            p::-webkit-scrollbar {
                -webkit-appearance: none;
            }
            
            p::-webkit-scrollbar:vertical {
                width: 11px;
            }
            
            p::-webkit-scrollbar:horizontal {
                height: 11px;
            }
            
            p::-webkit-scrollbar-thumb {
                border-radius: 8px;
                border: 2px solid white; /* should match background, can't be transparent */
                background-color: rgba(0, 0, 0, .5);
            }
        }
    }
}

.improvementResources {
    width: 12%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    .resourceCircleWrapper {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        height: 85%;
        width: 100%;
    }
    .resourceCircle {
        width: 8vw;
        height: 12vh;
        border-radius: 50%;
        box-shadow: 0 2px 4px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
        background-position: center !important;
        background-size: cover !important;
    }
    .resourceCircle6 {
        width: 8vw;
        height: 12vh;
        border-radius: 50%;
        box-shadow: 0 2px 4px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
        background-position: left !important;
        background-size: cover !important;
    }
    .resourceCircle, .resourceCircle6 {
        transition: transform 0.3s;
    }
    .resourceCircle:hover, .resourceCircle6:hover {
        transform: scale(1.1);
        cursor: pointer;
    }
}