.navigationWrapper {
    height: 95vh;
    width: 10%;
    position: absolute;
    left: 2vw;
    top: 2vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.navigation {
    height: 99%;
    width: 100%;
    background: lightgreen;
    overflow: hidden;
    border-radius: 10px 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    box-shadow: 0 2px 4px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
    img {
        height: 100%;
        width: 80%;
        filter: invert(1);
        transition: transform 0.3s;
    }
    img:hover {
        transform: scale(1.1);
        cursor: pointer;
    }
}

@media only screen and (max-device-width : 1024px) and (orientation : portrait) {
    .navigationWrapper {
        min-width: 20%;
    }
}

@media only screen and (max-device-width: 768px) {
    .navigationWrapper {
        height: 10vh;
        width: 95vw;
        top: 1vh;
        .navigation {
            flex-direction: row;
            img {
                width: 8vh;
            }
        }
    }
}
